.screens > .users.loader{
width:100%;
height:100%;
}
.screens > .users.loader > *{
display:none;
}

.screens > .users.nouser {
    height: 100%;
}

.screens > .users.nouser .userlist{
    background: none;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.screens > .users.nouser .userlist a {
    margin-left: 5px;
    color: var(--main-color);
}

.screens > .users.nouser .userlist a:hover{
    color: var(--main-color);
}

.userlist{
min-height:40px;
}

.userlist table{
width:100%;
}

.userlist th{
line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
text-align:left;
}
.userlist tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}
.userlist td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 10px 8px;
    vertical-align: top;
    word-break: break-all;
}

.userlist .item-resend-confirm{
background-image: url(mletter.svg);
}
.userlist .item-report{
background-image: url(mchart.svg);
}
/*.userlist .item-cams{*/
/*background-image: url(mcamera.svg);*/
/*}*/
/*.userlist .item-edit{*/
/*background-image: url(mpencil.svg);*/
/*}*/
.userlist .item-goto-user{
background-image: url(muser.svg);
}
/*.userlist .item-delete{*/
/*background-image: url(mtrash.svg);*/
/*}*/

.userbtn{
width:20px;
height:20px;
outline:none;
    background-position: center;
    background-size: contain;
border:none;
background-color:inherit;
    background-repeat: no-repeat;
    margin: 0 4px;
cursor:pointer;
}

body .header-right .adduser{
}
body:not(.users) .header-right .adduser{
display:none;
}

.usercameras {
    height: 90%;
}

.usercameralist{
min-height:40px;
    height: calc(100% - 80px);
    overflow: auto;
display: flex;
    margin: 0 0 0 0;
    min-height: 30px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
align-content: flex-start;
}

.usercameralist .table-wrapper {
    background-color: #ffffff;
    padding: 10px;
    min-height: 100%;
}

.usercameralist table {
    border-collapse: collapse;
    width: 100%;
}

.usercameralist table thead th {
    padding-bottom: 10px;
}

.usercameralist table tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.usercameralist table th{
text-align:left;
}

.usercameralist tbody td{
    border-top: 1px solid #e7eaec;
    padding: 10px 0;
}

input.userarchive, .usercameralist input{
width:16px;
height:16px;
}

.usercameralist campreview{
width: 96px;
    height: 54px;
    display: block;
cursor:pointer;
}

input.userarchive{
    width: 34px;
    height: 0;
    display: inline-block;
    margin-right: 10px;
}
input.userarchive:after{
content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: block;
    margin-top: -21px;
}
input.userarchive:checked:after{
    background-color: var(--main-color);
    background-image: url(check.svg);
}

.screens .users .userbtn {
    color: #959595;
    font-size: 18px;
}

.screens .users .userarchive.active {
    color: var(--main-color);
}

.screens .users .deleteuser {
    color: #dc3545;
}

.usercameralist input {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    margin-left: -10000000000px;
}

input.userarchive + label, .usercameralist input + label {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

input.userarchive:checked + label, .usercameralist input:checked + label {
    background-color: var(--main-color);
}
.usercameralist input:checked + label:after {
    content: url("check.svg");
    margin-left: 6px;
    margin-top: 3px;
}
input.userarchive > table td{
vertical-align:middle;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

body.edituser .headerBlock .header-left .mainbackbtn{
    display: block!important;
}

body.users .rightblock .headerBlock > .header-right {
    flex: 2 1 130px;
}

body.usercameras .headerBlock .header-left .mainbackbtn {
    display: block!important;
}

.screens > .usercameras .camerablock {
    width: calc(100% - 4px);
    height: 216px;
    min-height: 216px;
    display: block;
    margin: 0 1em 1em 0;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    max-width: 322px;
    cursor: pointer;
}
.screens > .usercameras .camerablock > div {
    height: 46px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    background: white;
    border-top: 1px solid var(--main-color);
position:relative;
}
.screens > .usercameras .camerablock campreview {
    width: 100%;
    height: calc(100% - 46px);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
    background-color: white;
}

.screens > .usercameras .camerablock .name {
    padding: 8px 10px 5px 16px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 60px);
    max-height: 36px;
}
.screens > .usercameras .camerablock .loc {
    font-size: 10px;
    font-weight: 400;
    color: #676A6C;
    padding: 0px 0px 0px 16px;
}

.usercamera-cont {
    display: flex;
}

.nameloc {
    width: 90%;
}

.camera-label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.camera-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.camera-label .checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 20px;
    width: 20px;
    border: thin solid #a7a7a7;
    border-radius: 4px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.camera-label input:checked ~ .checkmark:after {
    display: block;
}

.camera-label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.screens > .edituser .week_shedule{
cursor: pointer;
    color: var(--main-color);
}

.screens > .edituser .week_shedule:after{
padding-left:5px;
content:">";
}
.screens > .edituser .week_shedule.active:after{
content:": set hours for nighttime notifications";
}
.screens > .edituser .week_shedule:not(.active) ~ *{
display:none;
}

.screens > .edituser {
    background: white;
    padding: 25px;
    max-width: 1220px;
}
body.mobile.edituser .screens > .edituser {
    padding: 12px 12px 12px 12px;
    height: 100%;
    overflow: auto;
}

.screens > .edituser input[name="phone"]{
padding-left: 30px;
}

.screens > .edituser .phoneprefix{
position: absolute;
    font-size: 16px;
    font-weight: 800;
    margin-left: 12px;
    margin-top: 9px;
}

.assignment-tabs{
    margin-right:12px;
    margin-bottom:20px;
    display: flex;
}
.assignment-tabs .tab{
    max-width: 155px;
    flex: 1 1 155px;
}

.tabcontent {
    max-height: 65vh;
    overflow-y: auto;
    max-width: 100%;
    margin-bottom: 25px;
}

.assignment-tabs > div{
    display: inline-block;
    border-bottom: 2px solid #E7E7E7;
    padding: 8px 0px 20px 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    flex: 1 1;
    text-align: center;
}

.assignment-tabs .tab.active{
    border-bottom: 2px solid var(--main-color);
}

.assignment-tabs h6{
    color: var(--main-color);
    margin-bottom:10px;
}

.tab.disabled {
    color: #676A6C;
    cursor: unset;
}

.chosenLocations {
    display:flex;
}

.chosenloc {
    font-size: 14px;
    padding: 7px;
    margin: 0 3px;
    background-color: #d7d7ff;
    border-radius: 5px;
}

/* .loc-cont {
    display: none !important;
} */