/* The site colors */
:root {
    --main-color: #7BB247;
    --rec-color: red;
    --main-hover-color: #7BB247;
    --second-color: #808080;
    --average-curve-color: #7BB247;
    --max-curve-color: #676a6c;
    --min-curve-color: #7BB247;
}

