/* hide table headers */
.screens > .home .VXGCameraList table th {display:none!important;}

/* hide filter button */
.screens > .home .block3 .addfilter {display:none!important;}

/* hide mini sparkline */
.sparkline-container span canvas {display:none!important;}

/* hide report download button */
.screens > .home .reportDownload {display:none!important;}

/* hide add camera button */
.screens > .home .addcamera {display:none!important;}

/* hide search in activity screen */
/* body.activity .header-search{display:none!important;} */

/* Do not change color and text decoration when mouse hover in "Contact us" button  */
.bottom-global-menu a:hover {
    color: white;
    text-decoration: inherit;
}

/* Rename the first item in the left menu*/
.leftblock .home .menu-name{font-size:0px;}
.leftblock .home .menu-name:after{content:"Home";font-size:12px;}
/* body.home .rightblock .headerBlock .header-center{font-size: 0px;} */
/* body.home .header-center:after{content:"Home";font-size: 16px;} */