.camerasettings{
position:relative;
}
.camerasettings .settabbtn{
position: absolute;
    top: 545px;
}

.camerasettings cameraeditsettings{
min-height:348px;
}
body.camerasettings .headerBlock .header-left .mainbackbtn{
    display: block!important;
}

body.mobile .screens > .camerasettings{
padding:0px 12px 0 12px;
height:100%;
background:white;
}
body.mobile.camerasettings #mobile-menu-btn{display:none;}

.camerasettingstabsbtns{
display:flex;
max-width:500px;
margin-bottom:10px;
}
.camerasettingstabsbtns > div{
display: inline-block;
    border-bottom: 2px solid #E7E7E7;
    padding: 8px 0px 20px 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    flex: 1 1;
    text-align: center;
}
.camerasettingstabsbtns > div.active{
    border-bottom: 2px solid var(--main-color);
}