cameraedit input, cameraedit select, cameraedit textarea {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #ced4da;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    box-sizing: border-box;
outline: none;
}
cameraedit input:focus, cameraedit select:focus, cameraedit textarea:focus {
border-color: #1779B3 !important;
}

cameraedit{
    font-size: 12px;
    font-weight: bold;
font-family: 'Montserrat', sans-serif;
    display: block;
}
cameraedit:not(.newcamera) .type a{
display:none;
}

cameraedit:not(.ready) form{
display:none;
}

cameraedit.onvif .rtspOnly{
display:none;
}
cameraedit.cloud .notincloud{
display:none;
}
cameraedit.uplink .notinuplink{
    display:none;
}
cameraedit.rtsp .onvifOnly{
display:none;
}
cameraedit.dvr .notindvr {
    display:none;
}

.hidesett {
    display: none;
}

.rete_off {
    display: none !important;
}
/*,
cameraedit.rtsp:not(.location) .loca,
cameraedit.cloud:not(.location) .loca,
cameraedit.onvif:not(.location) .loca,
cameraedit:not(.retention) .rete */
cameraedit.rtsp:not(.options) .options {
display:none!important;
}

.setting-dropdown {
    padding-top: 17px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}

.setting-dropdown:hover {
    cursor: pointer;
}

.bottom-options {
    border-bottom: thin solid var(--main-color);
}

cameraedit .anccsUrlOptions,
cameraedit .anccsUrlLocation,
cameraedit .anccsUrlRetentiontime,
cameraedit .anccsUrlAIConfig{
cursor: pointer;
color: var(--main-color);
}
cameraedit .anccsUrlOptions:hover{
font-weight:bold;
}
/*cameraedit .anccsUrlOptions:after,
cameraedit .anccsUrlLocation:after,
cameraedit .anccsUrlRetentiontime,
cameraedit .anccsUrlAIConfig:after{
content:' >';
}
cameraedit.options .anccsUrlOptions:after,
cameraedit.location .anccsUrlLocation:after,
cameraedit.retention .anccsUrlRetentiontime,
cameraedit.aiConfig .anccsUrlAIConfig:after{
content:' <';
}*/

.carrot-icon {
    font-size: 17px;
    font-weight: 900;
    color: var(--main-color);
}

.select-disabled {
    background-color: #ced4da;
}

cameraedit:not(.wait) .wait, cameraedit.wait .apply, cameraedit.nodata form{
display:none;
}
cameraedit.wait{
}
cameraedit.wait input, cameraedit.wait button, cameraedit.wait select, cameraedit.wait label.en{
pointer-events: none;
background:none;
}
cameraedit.wait label.en{
margin-bottom:0;
}

cameraedit .wait a{
color:blue;
}

cameraedit .wait{
    color: black;
    display: inline-block;
}

cameraedit.wait input{
    pointer-events:none;
}
cameraedit .wait .spinner{
width: 25px;
    height: 13px;
    display: inline-block;
}

cameraedit .spinner{
background: url(spinner.gif) center center no-repeat!important;
}
cameraedit a, cameraedit a:hover{
    color: var(--main-color);
}

body.addcamera .headerBlock .header-left .mainbackbtn{
    display: block!important;
}

body.mobile .screens > .addcamera{
padding:12px 12px 0 12px;
}

.addcamera input:before:not(.plans-check) {
    cursor: pointer;
    content: '';
    width: 20px;
    height: 20px;
    align-items: center;
    margin-left: -26px;
    margin-top: 3px;
    display: inline-block;
background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIiBmaWxsPSJub25lIj48cmVjdCB4PSIwLjQiIHk9IjAuNCIgd2lkdGg9IjE5LjIiIGhlaWdodD0iMTkuMiIgcng9IjUuNiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIwLjgiLz48L3N2Zz4=) bottom no-repeat;
background-size: cover!important;
}
.addcamera input[disabled]:before:not(.plans-check){
    cursor: default;
}


.addcamera input:checked:before:not(.plans-check) {
background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMiAyIDIwIDIwIiBmaWxsPSJub25lIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDJDNC42ODYyOSAyIDIgNC42ODYyOSAyIDhWMTZDMiAxOS4zMTM3IDQuNjg2MjkgMjIgOCAyMkgxNkMxOS4zMTM3IDIyIDIyIDE5LjMxMzcgMjIgMTZWOEMyMiA0LjY4NjI5IDE5LjMxMzcgMiAxNiAySDhaTTcuNzE3MTYgMTIuMjgzTDEwLjU0NTYgMTUuMTExNEMxMC43MDE4IDE1LjI2NzYgMTAuOTU1MSAxNS4yNjc2IDExLjExMTMgMTUuMTExNEwxNi43NjgxIDkuNDU0NTNMMTYuMjAyNCA4Ljg4ODg1TDEwLjgyODQgMTQuMjYyOUw4LjI4Mjg1IDExLjcxNzNMNy43MTcxNiAxMi4yODNaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4=) bottom no-repeat;
}

.addcamera input.svgbtnbefore:not(.plans-check) {
    margin-top: 3px;
    margin-left: 26px;
    position: relative;
    height: 0;
    width: 0;
}

.dialog-group, .subscription-group-cloud{
    display: flex;
}

.dialog-info {
    width: 80%;
    margin-right: 10px;
    font-size: 12px !important;
}

.dialogbtn, .subbtn-cloud {
    width: 20%;
}

option.dvr-disabled:disabled {
    background-color: #d0d0d0;
}

.disabled {
    pointer-events: none;
    background-color: #e4e4e4;
}

.location-dropdown {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 7px 0;
    font-size: 14px;
}

.location-dropdown:hover {
    cursor: pointer;
}

.location-border {
    padding-bottom: 25px;
    border-bottom: thin solid var(--main-color);
    margin-bottom: 10px;
}
.locations-title {
    text-align: center;
    width: 100% !important; 
    margin-left: 0 !important;
    background-color: white !important;
}
.location-hierarchy {
    list-style-type: none;
}
.province-ul {
    padding-left: 0;
    min-width: 500px;
    height: 250px;
    overflow-y: auto; 
}
.location-btn-cont {
    padding: 5px 10px;
    border-bottom: thin solid #a4a4a4;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-arrow {
    width: 10%;
    text-align: end;
    padding: 5px 0;
}

.location-arrow:hover {
    cursor: pointer;
}

.loc-name:hover {
    cursor: pointer;
    color: var(--main-color);
}

.existing-input-cont {
    display: flex;
}

.clear-location.vxgbutton {
    width: 5%;
    margin-left: 5px;
}