.VXGCameraListContainer.waitdata {
    background: url(../../../loader.gif) center center  no-repeat;
    background-position: 50% 50%;
}

.sparkline > canvas.waitdata {
    background: url(../../../spinner.gif) center center  no-repeat;
    background-size: 30px 5px;
    background-position: 50% 50%;
}

.sparkline {
    cursor: pointer;
}

.VXGCameraListContainer.nocameras {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 360px;    
}

.VXGCameraListContainer.nocameras.waitdata > .VXGCameraListEmpty {
    display: none;
}

.VXGCameraListEmpty {

}

.VXGCameraList.invisible,
.VXGCameraListEmpty.invisible {
    display: none;
}

.camera-preview {
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(camera_list.svg);
    background-position: 50%;
}

.jqstooltip{
    box-sizing: content-box;
}

.VXGCameraList .mcamera:before{
    background-image: url(mcamera.svg);
}

.VXGCameraList .msetting:before{
    background-image: url(msetting.svg);
}

.VXGCameraList .mtags:before{
    background-image: url(mtags.svg);
}


.VXGCameraList .mchart:before{
    background-image: url(mchart.svg);
}

.VXGCameraList .mconfigure:before{
    background-image: url(mconfigure.svg);
}

.VXGCameraList .mtrash:before{
    background-image: url(mtrash.svg);
}

.VXGCameraListSettings {
    width:40px;
    height:40px;
    /*background-repeat: no-repeat;*/
    /*background-position: 0 center;*/
    /*background-image: url(action.svg);*/
    cursor:pointer;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.VXGCameraListActions {
    position: relative;
}

.VXGCameraListMenu {
    position: absolute;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    font-size: 12px;
    font-weight: 400;
    top: 0!important;
    left: auto !important;
    right: 10px !important;
    z-index: 1;
min-height: 66px;
}
.VXGCameraListMenu > div{
    line-height:25px;
    padding: 4px 10px;
    padding-left: 35px;
text-align: left;
}
.VXGCameraListMenu > div:hover{
    background-color: #f5f5f5;
    cursor:pointer;
color:var(--main-color);
}

.VXGCameraListMenu .listmenu-item {
    color: #474747;
}

.VXGCameraListMenu .listmenu-item i {
    font-size: 20px !important;
    margin-left: -27px;
    width: 24px;
}

.block4 .content {
    height: calc(100% - 30px);
}
.cameralist, .VXGCameraListContainer, .VXGActivityContainer2 {
    height: 100%;
}

.VXGCameraListContainer {
    position: relative;
}

.webui-link{
    font-size: 26px;
    color: #878787;
}

@media (min-width: 1420px) {
    .VXGCameraList {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
height: auto!important;
    }
}
@media (max-width: 1529px) {
    .VXGCameraList {
        height: 300px;
        overflow: auto;
    }
    .screens > .reports:not(.showstat) .VXGCameraList{
    }
}

.quad-preview {
    width: 55px;
}

.location-group-toggle {
    cursor: pointer;
    border-bottom: 2px solid #bababa !important;
}

.location-group-toggle:hover {
    background-color: #f2f2f2;
}

.groupCam {
    background-color: #f2f2f2;
}

.draggable {
    cursor: pointer;
}

td.location-name {
    font-size: 16px;
}