.screens > .servers .settings {
    background-image: url(serverlink.svg);
}

body:not(.servers) .header-right .addserver,
body:not(.servers) .header-right .server-download{
display:none;
}

.server-download {
place-items: center; 
display: inline-flex;
}
